<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Fitow</title>
</head>
<body>
<header>
  <h1>로그인된 관리자 정보만</h1>
  <a href="/def-cms/users">유저</a>
  <a href="/def-cms/reports">문의</a>
  <a href="/def-cms/home-contents">홈 컨텐츠</a>
  <a href="/def-cms/notices">공지</a>
  <a href="/def-cms/workouts">운동</a>
</header>
<div id="content">여기는 Admin Index입니다.</div>
<!--    <th:include page="${contentPage }"></th:include>-->
<!--얘랑 얘랑 뭐가 다른거지???-->

<!--Content 내용 영역을 참조합니다-->
<th:block layout:fragment="content"></th:block>

<footer>
  <p>Copyright &copy; 2023.960118Duo</p>
</footer>
</body>
</html>