<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1 th:text="${noticeDetail.title}"></h1>
<p><strong>작성자:</strong> <span th:text="${noticeDetail.author}"></span></p>
<p><strong>카테고리:</strong> <span th:text="${noticeDetail.category}"></span></p>
<p th:text="${noticeDetail.content}"></p>
<p><strong>작성일:</strong> <span th:text="${#temporals.format(noticeDetail.createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>
<p><strong>수정일:</strong> <span th:text="${#temporals.format(noticeDetail.editedAt, 'yyyy-MM-dd  HH:mm')}"></span></p>
<a href="/notices">목록으로 돌아가기</a>
</body>
</html>