<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="/js/user/login.js"></script>
</head>
<body>
<h1>로그인</h1>

<div th:if="${param.error}" class="alert alert-danger">
    사용자 ID 또는 비밀번호를 확인해 주세요.
</div>

<form id="loginForm" action="/login" method="post">
    <label for="username">이메일</label>
    <input type="email" id="username" name="username" placeholder="이메일">
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" placeholder="비밀번호">
    <button onclick="login()">로그인</button>
</form>

<a href="/find/email">이메일 찾기</a>
<a href="/find/info">비밀번호 찾기</a>
<a href="/join">회원가입</a>
</body>
</html>