<html xmlns:th="http://www.thymeleaf.org">

<!--<meta name="_csrf" th:content="${_csrf.token}" />-->
<!--<meta name="_csrf_header" th:content="${_csrf.headerName}" />-->
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/editProfile.js"></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
여기는 마이 페이지입니다.
<a th:href="@{/logout}">로그아웃</a>
<br>
<form th:action="@{/api/user/profile-img}" name="form" method="post" enctype="multipart/form-data" >
    <input type="file" name="file" id="file" placeholder="프로필 이미지">
    <button type="submit">프로필이미지 바꾸기</button>
</form>
프로필
<img width="150" th:src="@{/api/user/profile-img/} + ${userInfo?.profileImg}" alt=""/>
<h4 th:text="${userInfo?.email}"></h4>
<h4 th:text="${userInfo?.nickName}"></h4>
<h4 th:text="${userInfo?.name}"></h4>
<h4 th:text="${userInfo?.gender}"></h4>
<h4 th:text="${userInfo?.birth}"></h4>
가입일자
<h4 th:text="${userInfo?.joinDate}"></h4>
비밀번호 수정일자
<h4 th:text="${userInfo?.getPasswdEditDate}"></h4>
<a href="/my-page/profile">프로필 수정</a>
<br>
<a href="/my-page/reports">무늬무늬 민문의</a>
<br>
<th:block th:include="~{user/withdraw}"></th:block>
</body>
</html>
