<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/defCmsIndex }">

<!-- adminIndex.html의 <th:block layout:fragment="content"></th:block> 부분을 교체 -->
<!-- users는 AdminController로 부터 model.addAttribute로 주입받음 -->

<div layout:fragment="content">
    <!-- 화면 시작 -->
    <h1>유저 관리 페이지입니다.</h1>
    <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>이메일</th>
            <th>역할</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <td th:text="${user.name}"></td>
            <td><a th:href="@{'/def-cms/users/' + ${user.email}}" th:text="${user.email}"></a></td>
            <td th:text="${user.role}"></td>
            <td th:text="${#temporals.format(user.joinDate, 'yyyy-MM-dd HH:mm')}"></td>
<!--            <button onclick="location.href='countyOfficeListForm.html'"-->
<!--                    th:onclick="window.open('/admin/userDetail', 'window_name', 'width=430, height=500, location=no, status=no, scrollbars=yes');"-->
<!--                    type="button">유저 롤 수정 팝업-->
<!--            </button>-->

        </tr>
        </tbody>
    </table>
    <!-- 화면 끝 -->
</div>
</html>