<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/defCmsIndex }">

<div layout:fragment="content">
    <h1>홈컨텐츠 페이지 입니다.</h1>

    <table>
        <thead>
        <tr>
            <th>유형</th>
            <th>사용 여부</th>
            <th>내용</th>
            <th>작성일</th>
            <th>수정일</th>
        </tr>
        </thead>
        <tbody th:each="homeContent : ${homeContents}">
        <tr>
            <td><a th:href="@{'/def-cms/home-contents/' + ${homeContent.uuid}}" th:text="${homeContent.category}"></a></td>
            <td th:text="${homeContent.isBeingUsed}"></td>
            <td th:text="${homeContent.content}"></td>
            <td th:text="${#temporals.format(homeContent.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(homeContent.editedAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <button type="button" onclick="location.href='/def-cms/home-contents/post'">작성하기</button>
</div>
</html>