<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/defCmsIndex }">

<div layout:fragment="content">
    <script src="/js/notice/findNotice.js"></script>
    <h1>운동 페이지 입니다.</h1>

    <table>
        <thead>
        <tr>
            <th>운동 이름</th>
            <th>주동근</th>
            <th>길항근</th>
            <th>협응근</th>
            <th>설명</th>
            <th>영상</th>
        </tr>
        </thead>
        <tbody th:each="workout : ${workouts}">
        <tr>
            <td><a th:href="@{'/workouts/' + ${workout.uuid}}" th:text="${workout.workoutName}"></a></td>
            <td th:each="agonistMuscleEnum :${workout.getAgonistMuscles}" th:text="${agonistMuscleEnum.desc}"></td>
            <td th:each="antagonistMuscleEnum :${workout.getAntagonistMuscles}" th:text="${antagonistMuscleEnum.desc}"></td>
            <td th:each="synergistMuscleEnum :${workout.getSynergistMuscles}" th:text="${synergistMuscleEnum.desc}"></td>
            <td th:each="description :${workout.descriptions}" th:text="${description}"></td>
            <td><a th:href="@{${workout.getMediaFileName}}"></a></td>
        </tr>
        </tbody>
    </table>
    <button type="button" onclick="location.href='/def-cms/workouts/post'">작성하기</button>
</div>
</html>