<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1 th:text="${workout.workoutName}"></h1>
<p><strong>난이도:</strong> <span th:text="${workout.workoutDifficulty.desc}"></span></p>
<p><strong>주동근:</strong> <span th:each="agonistMuscle : ${workout.agonistMuscles}" th:text="${agonistMuscle.desc} +'(' +${agonistMuscle.bodyPart.desc} +')' + ','" ></span></p>
<p><strong>길항근:</strong> <span th:each="antagonistMuscle : ${workout.antagonistMuscles}" th:text="${antagonistMuscle.desc} +'('+ ${antagonistMuscle.bodyPart.desc}+')' + ','"></span></p>
<p><strong>협응근:</strong> <span th:each="synergistMuscle : ${workout.synergistMuscles}" th:text="${synergistMuscle.desc} +'('+${synergistMuscle.bodyPart.desc}+')' + ','"></span></p>

<p><strong> 설명</strong> </p>
<div th:each="description : ${workout.descriptions}" th:text="${description}"></div>

<p><strong>영상:</strong> </p>
<video width="150" th:src="@{/api/workouts/media/} + ${workout.mediaFileName}" controls controlsList="nodownload"></video>

<a href="/workouts">목록으로 돌아가기</a>
</body>
</html>